body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
  
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }



  /* */


  .header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
  }

  .logo-img {
      width: 130px;
  }

   .menu-item {
       color: #535353;
       font-weight: 700;
       margin:  0 20px;
   }

   .contact-link {
        color: #535353;
        font-weight: 700;
   }

   .header-btn__link {
       background-color: #12d5b8;
       padding: 10px 20px;
       color: #fff;
       font-weight: 900;
   }

   .header-content__all {
       display: flex;
       align-items: center;
       margin-top: 30px;
       justify-content: space-between;
   }

   .header-content {
       color: #000;
   }

   .header-title {
       display: flex;
       align-items: center;
   }

   .header-title__img {
       width: 50px;
       height: 40px;
       margin-right: 20px;
   }

   .header-title {
    width: 500px;
   }

   .header-content__title {
        font-size: 40px;
        font-weight: 700;
        width: 500px;
   }

   .header-content__text {
       font-size: 15px;
       color: #535353;
       width: 600px;
       line-height: 2;
       margin-top: 30px;
   }

   .header-content__text span{
       font-weight: 700;
   }

   .header-content__btn {
       background-color: #535353;
       border-radius: 20px;
       display: flex;
       align-items: center;
       padding: 15px 30px;
       width: 166px;
       margin-top: 50px;
       box-shadow: 0 0 10px rgba(0,0,0,1);
    
   }

   .header-btn__item {
    font-weight: 700;

   }

   .header-btn__arrow {
       width: 20px;
       height: 20px;
       margin-left: 10px;
   }

   .video-fon {
       padding-top: 100px;
   }

   .viopop {
    position: relative;
    z-index: 2;
   }

   .video-fon__all {
       position: relative;
   }
   .video-fon__item {
       width: 650px;
       height: 350px;
       position: absolute;
       left: 0;
       top: 0;
       z-index: 1;
   }


   /* price */

   .price {
    color: #000;
    padding-top: 100px;
   }

   .price-top {
       display: flex;
       align-items: center;
   }
   .price-arrow {
    width: 50px;
    height: 40px;
    margin-right: 20px;
   }

   .price-top__title {
       color: #000;
       font-weight: 700;
       font-size: 40px;
   }

   .price-content {
       margin-top: 100px;
       display: flex;
       justify-content: center;
   }

   .price-content__item {
       margin: 0 40px;
       transition: ease .2s;
       padding: 20px;
   }

   .price-content__item:hover {
       border-top: 4px solid #535353;
   }

  
   .price-item__title {
       font-size: 22px;
       font-weight: 700;
       color: #000;
      
   }

   .price-item__dol {
       color: #000;
       font-weight: 900;
       font-size: 25px;
       margin-top: 20px;
       opacity: .2;
   }

   .price-item__text {
       width: 230px;
       line-height: 1.8;
       color: #535353;
       margin-top: 40px;
   }

   .price-content__arrow{
       width: 20px;
       height: 20px;
   }

   .price-content__arrow {
       margin-top: 30px;
       margin-left: 20px;
   }

   /* about-right */

   .about {
       color: #000;
       background-color: #000;
       padding: 30px 0;
   }

   .about-title__h1 {
       text-align: center;
       font-weight: 900;
       font-size: 40px;
       text-transform: uppercase;
   }

   .about-all {
       display: flex;
       align-items: center;
       justify-content: center;
       padding-top: 100px;
   }

   .about-left__img {
       width: 800px;


   }

   .about-right {
       display: flex;
   }

   .about-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 10px solid rgb(226, 226, 226);
    border-left: 10px solid rgb(226, 226, 226);
   }

   .about-right__item {
       margin: 40px 80px;
       text-align: center;
   }

   .about-img {
       width: 70px;
       height: 70px;
   }

   .about-right__h1 {
       margin-top: 20px;
   }

   /* works */


   .works {
       color: #000;
       padding-top: 140px;
   }

   .works-content {

   }

   .works-top__title {

   }

   .works-content__item {
       margin-top: 40px;
       margin-bottom: 40px;
       display: flex;
       justify-content: space-around;
       align-items: center;
   }

   .works-item__left {
       display: flex;
       align-items: center;
   }

   .works-hr {
       height: 5px;
       width: 30px;
       background-color: #12d5b8;
       margin-right: 20px;
   }

   .works-item__title {
    font-weight: 900;
    font-size: 30px;
    color: #000;
   }

   .works-content__hr {
       width: 40px;
       height: 30px;
   }

   .works-item__title span {
       color: #12d5b8;
       font-weight: 900;
       font-size: 30px;
   }

   .works-item__text {
       width: 400px;
       line-height: 2.5;
       color: #535353;;
   }

   .works-all__hr {
       width: 100%;
       height: 1px;
       background-color: #d8e7e7;
   }
   

   /* portfolio */

   .portfolio {
       color: #000;
       background-color: #dceeef;
       

   }

   .portfolio-top {
       display: flex;
       justify-content: space-between;
   }
   

   .porfolio-top__img {
       width: 120px;
   }

   .porfolio-title {
       font-weight: 700;
       font-size: 33px;
       margin-top: 10px;
   }

   .porfolio-top__title {
    padding-top: 60px;
    padding-bottom: 60px;
   }

   .portfolio_text {
       color:  #535353;
       line-height: 1.5;
       width: 600px;
       margin-top: 50px;
   }

   .portfolio-btn {
       display: flex;
       align-items: center;
       border: 2px solid #12d5b8;
       width: 200px;
       padding: 15px 25px;
       margin-top: 50px;

   }

   .portfolio-btn__text {
       font-weight: 700;
       font-size: 15px;
       color: #12d5b8;

   }

   .portfolio-btn__item {
       width: 20px;
       height: 20px;
       margin-left: 25px;
   }

   .portfolio-content__img {
       width: 800px;
       height: 500px;
       margin-left: 150px;
   }

   .portfolio-content__imge {
    width: 650px;
    height: 500px;
    margin-right:  150px;
   }

   .portfolio-content__img3 {
    width: 450px;
    height: 500px;
   }

   .portfolio3 {
       background-color: rgb(236, 226, 226);
   }


   /* portfolio-two */


   .portfolio__two {
       color: #000;
       background-color: #d4cae2;
   }

   /* tallking */

   .tallking {
       color: #000;
       background: url('../img/portfolio.png') center no-repeat;
       height: 400px;
   }

   .tallking-all {
       padding-top: 130px;
   }

   .tallking-title {
       text-align: center;
   }

   .tallking-title__h1 {
       font-size: 50px;
       font-weight: 900;
   }

   .tallking-title__p {
       margin-top: 30px;
       font-size: 15px;
   }

   .tallking-arrow {
       display: flex;
       align-items: center;
       border: 1px solid #000;
       text-align: center;
       width: 230px;
       margin: 0 auto;
       margin-top: 60px;
       text-decoration: none;
   }

   .tallking-arrow:hover {
       background-color: rgb(88, 199, 199);
       color: #fff;
       border: none;
   }

   .tallking-arrow__img {
       width: 30px;
   }

   .tallking-arrow__link {
       color: #000;
       padding: 15px 30px;
   }


   /* about-all */

 .footer {
     background-color: #000;
     height: 250px;
 }

 .footer-top__all {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .footer-item {
     padding-top: 50px;
 }

 .footer-item__text {
     width: 500px;
     color: darkgray;
     line-height: 1.8;
     margin-top: 40px;
 }

 .footer-bottom {
     display: flex;
     align-items: center;
 }

 .footer-menu {
     display: block;
     margin-top: 20px;
     color: rgb(163, 163, 163);
 }

 .footer-bottom__text{
     margin-top: 40px;
     text-align: center;
 }

 .footer-item__img {
     width: 200px;
 }


 /* stages*/


 .stages {
     background-color: #f2f7f7;
     padding-top: 70px;
     padding-bottom: 70px;
 }

 .stages {
     color: #000;
 }

 .stages-content {
     display: flex;
     justify-content: center;
     margin-top: 70px;
     position: relative;
 }

 .stages-content__item {
     width: 170px;
     margin: 0 20px;
     background-color: #fff;
     padding: 10px 20px;
     border-bottom: 4px dashed rgb(236, 195, 195);
     border-left: 4px dashed rgb(236, 195, 195);
     border-top: 4px dashed rgb(236, 195, 195);
 }

 .stages-item__text {
     font-size: 13px;
     line-height: 2;
 }

 .stages-image {
     text-align: center;
     margin-top: 60px;
 }

 .item-before1:before {
     content: "1.";
     color: rgb(243, 46, 46);
     font-size: 90px;
     font-weight: 900;
     margin-left: -50px;
 }

 .item-before2:before {
    content: "2.";
     color: rgb(243, 46, 46);
     font-size: 90px;
     font-weight: 900;
     margin-left: -50px;

}

.item-before3:before {
    content: "3.";
    color: rgb(243, 46, 46);;
     font-size: 90px;
     font-weight: 900;
     margin-left: -50px;

}

.item-before4:before {
    content: "4.";
    color: rgb(243, 46, 46);
     font-size: 90px;
     font-weight: 900;
     margin-left: -50px;
}

.item-before5:before {
    content: "5.";
    color: rgb(243, 46, 46);
     font-size: 90px;
     font-weight: 900;
     margin-left: -50px;
}

/* Pop-up window */

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 10px;
    left: 0; 
    z-index: 999;
    display: none;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%); 
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #000;
    color: #fff
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(45deg);
}


/* ofice */



/* overlay */

.popup {
    width: 500px;
    height: 500px;
}

.form-group {
    text-align: center;
}

.form-group__in {
    color: #000;
    border-bottom: 1px solid #000;
    width: 300px;
    margin-top: 50px;
}

.btn-primary {
    margin-top: 60px;
    margin-left: 130px;
    border-radius: 20px;
    padding: 20px 30px;
    background-color: cornflowerblue;
    color: #fff;
    font-weight: 700;
}

.form-h1 {
    color: #000;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.form-p {
    color: #000;
    text-align: center;
    margin-top: 20px;
}


.office-content{
    background: url('../img/content-image.jpg') center no-repeat;
    background-size: 100%;
    height: 600px;
    color: #fff;
    margin-top: 25px;
}

.ofice-content__title {
    padding-top: 160px;
    margin-left: 200px;
    font-size: 30px;
    font-weight: 700;
}

.office-title__h1 {
    font-size: 120px;
    font-weight: 700;
}

.office-title__p {
    color: #ddd5d5;
    margin-top: 20px;
}


@media screen and (max-width: 347px) {
  .header-btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
    .container {
        width: 80%;
      
    }
    .header-top {
      flex-wrap: wrap;
    }
    .menu {
            display: none;
    }
    .contact {
        display: none;
    }
    .video-fon {
        display: none;
    }

    .header-content__all {
        margin-top: 100px;   
    }
    .header-arrow__none {
        display: none;
    }
    .header-title {
        /*width: 300px;*/
        width: 100%;
    }
    .header-content__title {
        font-size: 30px;
        font-weight: 900;
        /*width: 300px;*/
        width: 100%;
    }
    .header-content__text {
        /*width: 300px;*/
        width: 100%;
       
    }
    .price-top {
      flex-wrap: wrap;
    }
    .price-top__title {
        font-size: 30px;
        font-weight: 700;   
    }
    .porfolio-title {
        font-size: 20px;
    }
    .price-arrow {
        width: 30px;
        height: 30px;
    }
    .price-content {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0;
        margin-top: 40px;
    }
    .price-content__item {
        margin: 10px 0;
    }
    .price-content__arrow {
        display: none;
    }
    .portfolio-content {
        display: none;
    }
    .stages-image__img {
        /*width: 300px;*/
        width: 100%;
    }
    .price-item__text {
      font-size: 13px;
        width: 100%;
    }
    .works {
        padding-top: 70px;
    }
    .works-content {
        justify-content: center;
        margin-top: 80px;
    }
    .works-content__item {
        display: block;
    }
    .works-item__title {
        font-size: 20px;
        width: 200px;
 
    }
    .works-item__title span{
        font-size: 25px;
        width: 200px;
    
    }
    .works-item__text {
        font-size: 13px;
        /*width: 300px;*/
        width: 100%;
        margin-top: 20px;
    }
    .works-none {
        display: none;
    }
    .works-content__hr {
        display: none;
    }
    .portfolio {
      width: 100%;
    }
    .portfolio_text {
        /*width: 300px;*/
        width: 100%;
    }
    .stages-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .item-before5 {
        display: none;
    }
    .stages-content__item {
        /*width: 300px;*/
        width: 100%;
        margin-top: 30px;
    }
    .footer {
      height: auto;
    }
    .footer-item {
        padding-bottom: 50px;
    }
    .footer-item__text {
        /*width: 300px;*/
        width: 100%;
        font-size: 13px;
    }
    .tallking-title__h1 {
        font-size: 24px;
    }
    .tallking-arrow {
      width: 100%;
      justify-content: space-around;
    }
}