body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
}

*, *:after, *:before {
    border-style: bordes-box;
  }

.header {
    background-color: #121212;
    background: url('../img/navb.jpg') center;

}

.container {
    margin-left: auto;
	margin-right: auto;
    
    width: 1170px;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}

.h1 {
    margin: 0;
    padding: o;
}

h3 {
    color: #655a50;
}

p {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

li, ul {
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}
 

  
  .content {
    transition: 0.5s;
    position: relative;
    z-index: 0;
  }
  .content_active {
    transform: translateX(30%);
  }


.display {
    display: flex;
    margin-top: 100px;
 
}

.header__content {
    margin: 0 auto;
    justify-content: center;
    min-height: 100hv;
    position: relative;
    margin-top: 160px;
}

.header-title {
    position: absolute;
    font-size: 8em;
    transform: translate(-50%, -50%);

}
.header__content h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  
  .header__content h1:nth-child(2){
    color: #fff;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate{
    0%,100%{
    clip-path: polygon(0% 59%, 6% 64%, 12% 68%, 19% 69%, 28% 69%, 38% 68%, 46% 65%, 53% 59%, 59% 52%, 67% 46%, 76% 41%, 84% 40%, 94% 39%, 100% 39%, 100% 100%, 0 100%);}
    
    50%{
   clip-path: polygon(0% 59%, 7% 53%, 14% 47%, 22% 40%, 32% 41%, 39% 44%, 46% 52%, 52% 59%, 56% 65%, 64% 72%, 72% 74%, 82% 75%, 91% 69%, 100% 59%, 100% 100%, 0 100%);
  
  
    }
  }

.header__photo {

}




.section-about {
  background-color: #121212;
}

.containere {
    margin-left: auto;
	margin-right: auto;
    
    width: 1170px;
    height: 100vh;
}

.secsumon { 
}

.summon {
   display: flex;
   justify-content: space-around;
    
}

.sum-content {
    color: #fff;

}

.sum-content:hover {
    color: #ff0000;
    
}

.sum-content__h {
    text-transform: uppercase;
    font-size: 45px;
}

.sum-content__p {
    width: 290px;
    font-size: 15px;
}

.ft {
    width: 50px;
    height: 50px;
    transition: all .3s;
}

.sum-content:hover img {
width: 30mm;
}


.btn-cer {
    padding: 10px 13px;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 13px;
    font-size: 13px;
    border: none;
    background-color: #d80e0e;
    color: #fff;
}

.btn-cer:hover {
    color: #000;
    background: #fff;
}















.created {
    color: #fff;
    background: url('../img/navn.jpg') center;
    
}

.cred{
    position: absolute;
}


.offer-textn {
    color: #ff0000;
    padding-left: 20px;
  font-size: 10px;
  font-weight: 700;
}

.offer-block {
    display: flex;
    color: #000;
    align-items: center;
   
}

.creat-site__hr {
    height: 5px;
    background-color: #d80e0e;
    border: none;
}

.creat-site__p{
    padding-top: 10px;
}

.creat-site{
    padding-top: 100px;
}





.sum-tex_cre {
    display: flex;
}

.created-texted {
    width: 550px;    
}

.h2-created-p {
    width: 350px;
}

.imac {
    width: 00px;
    height: 400px;
    
}

.h2-created {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.btn-created {
    margin-top: 25px;
    padding: 10px;
    background-color: #d80e0e;
    border: none;
    color: #fff;
    font-weight: 600;
    
}

.vmeste {
    display: flex;
}

.cifri-sumoe {
    margin-left: 280px;
    font-size: 45px;
}

.cont-cifri span {
    font-size: 15px;
    color: #d80e0e;
}

.section-portfolio {
    background-color: #fff;
    margin-top: 90px;
    
}

.containeri {
    margin-left: auto;
    margin-right: auto;
    

    width: 1170px;
    height: 100vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .card-item {
    height: 270px;
    width: 370px;
    transition: transform .2s ease;
    background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(0,0,0,.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 3px 3px 8px,
   rgba(0,0,0,.8) 3px 3px 8px -3px;

  }





  .sum {
      display: flex;
      padding-top: 50px;
  }

  .reated-text {
      padding-top: 300px;
      margin-left: 70px;
  }

  .reated-title_t {
      font-size: 30px;
  }

  .reated-text-t {
      width: 400px;
  }

  .reated-btn {
      margin-top: 20px;
      background-color: red;
      padding: 15px;
      border-radius: 20px;
      color: #fff;
      font-weight: 500;
  }











.offer {
    padding-top: 50px;
    background-color: #121212;
}

.block-hr {
    height: 1px;
    width: 70px;
}

.containerer {
    margin-left: auto;
	margin-right: auto;
   
    width: 1170px;
    height: 300px;
}

.uf {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.offer-blocke {
    display: flex;
    color: #fff;
    align-items: center;
}
.offer-hr {

}

.offer-text {
  padding-left: 20px;
  font-size: 10px;
  color: #ff0000;
  font-weight: 700;
}


.offer-title__text {
    font-size: 50px;
    color: #fff;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-weight: 900;
}

.offer-blogs {
    display: flex
}

.of-p {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    color: #fff;
}

.of-p:hover {
box-shadow: 0px 0px 0px 2px rgba(0,0,0, 0.3);
border: none;
color: #655a50
}

.friends-all_one {
    display: flex;
    justify-content: center;
}