body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
  
    width: 1200px;
    margin: 0 auto;
}



/* header-top */



.header {
    margin-top: 20px;
}


.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-item {
    width: 140px;
    height: 60px;
}

.header-menu__item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px;
}

.header-menu__item:hover {
    color: orangered;
}

.tel {
    text-align: center;
}

.tel:hover {
    color: orangered;
}

.tel-item__link {
    font-weight: 700;
}

.tel-item {
    font-size: 10px;
}


/* header-content */


.header-content {
    margin-top: 20px;
    position: relative;
}

.img-content {
    text-align: center;
}


.img-content__item {
    width: 1200px;
    height: 500px;
}

.text-content {
    position: absolute;
    top: 90px;
    left: 310px;
}

.text-content__h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

.text-content__p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.header-content__btn {
    margin-top: 50px;
}

.text-content__button {
    background-color: orangered;
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.text-content__button:hover {
    background-color:  darkslategray;
}

.text-content__buttone {
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.text-content__buttone:hover {
    background-color: orangered;
    color: #fff;
}


/* site */


.site {
    margin-top: 60px;
    position: relative;
    background: url('../img/header-content.jpg') center no-repeat;
}

.site-section__all {
    display: flex;
    align-items: center;
}

.all-site__hr {
    display: flex;
    align-items: center;
}

.hr {
    width: 50px;
    height: 10px;
    background-color: #000;
}

.site-title {
    margin-left: 20px;
}

.site-title__h3 {
    font-size: 13px;
}

.site-content {
    margin-top: 40px;
}

.site-content__h1 {
    font-size: 45px;
    text-transform: uppercase;
    width: 700px;
}

.site-content__p {
    width: 700px;
    color: darkslategray;
    margin-top: 30px;
}

.site-all-sectionright {
    margin-left: 100px;
}

.sectionright {
    border: 1px solid orangered;
    align-items: center;
    color: #fff;
    background-color: orangered;
    padding: 13px 20px;
    transition: all 0.2s ease;
}

.sectionright:hover {
    color: #fff;
    background-color: darkslategray;

}

.site-item {
    width: 50px;
    height: 50px;
}

.site-item__p {
    margin-left: 20px;
    font-weight: 700;
}


/* services */


.services {
    margin-top: 80px;
}

.services-item__all {
    display: flex;
    justify-content: space-around;
}

.services-item {
    width: 250px;
    transition: all 0.2s ease;
}

.services-item:hover {
    color: orangered;
}

.one:before {
    content: "01.";
    font-size: 30px;
    font-weight: 100;
}

.two:before {
    content: "02.";
    font-size: 30px;
    font-weight: 100;
}

.three:before {
    content: "03.";
    font-size: 30px;
    font-weight: 100;
}

.services-arrow {
    width: 50px;
    height: 40px;
    transition: all 0.2s ease;
}

.services-item:hover img{
    width: 90px;
}



/* services */

.project {
    margin-top: 80px;
}


.project-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-item {
    width: 200px;
    height: 100px;
}

.project-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    justify-content: center;
}

.project-porfolio__item {
    width: 470px;
    height: 350px;
    padding: 5px 7px;
    
}

.colum-project {
    position: relative;
    transition: all 0.2s ease;

}

.colum-project:hover {
    opacity: .7;
}



/* about */



.about {
    margin-top: 80px;
}

.about-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.about-colum__one {
    width: 350px;
}

.about-colum__one:before {
    content: "01.";
    font-size: 30px;
    font-weight: 200;
}

.about-colum__two {
    width: 350px;
}

.about-colum__two:before {
    content: "02.";
    font-size: 30px;
    font-weight: 200;
}

.about-colum__three {
    width: 350px;
}

.about-colum__three:before {
    content: "03.";
    font-size: 30px;
    font-weight: 200;
}

.about-content__h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.about-content__p {
    margin-top: 10px;
    color: dimgray;
    font-size: 13px;
}



/* price*/



.price {
    margin-top: 80px;
}

.colum-price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}

.colum-price:hover {
    background-color: gainsboro;
}

.price-btn:hover {
    background-color: indigo;
    color: #fff;
}

.hr-two {
    height: 2px;
    width: 50px;
    background-color: #000;
}

.one-price__h4 {
    font-size: 50px;
    color: darkgray;
}

.one-hr__h3 {
    margin-top: 5px;
}

.price-btn {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px 20px;
}


/* footer-all  */


.footer {
    background-color: #272937;
    color: #fff;
    margin-top: 80px;
}

.footer-hr {
    width: 50px;
    height: 10px;
    background-color: #fff;
}

.footer-all {
   
    display: flex;
    align-items: center;
}

.site-all-sectionleft {
    padding-top: 10px;

}

.footer-tel {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 80px;
}

.footer-mail {
    margin-left: 150px;
}

.footer-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 13px 26px;
    font-weight: 700;
    margin-top: 20px;
}

.footer-tel__link {
    color: #fff;
    font-weight: 700;
}

.footer-tel__p {
    font-size: 12px;
    color: grey;
    margin-bottom: 10px;
}


/* seo */




.seo-all {
    margin-top: 100px;
}

.seo-text__h1 {
    font-size: 50px;
    font-weight: 900;
}

.seo-text__p {
    width: 600px;
    margin-top: 13px;
}


.seo-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.seo-content__right {
    margin-left: 80px;
}

.kub {
    height: 10px;
    width: 10px;
    background-color: #000;
    margin: 20px 0px;
}

.seo-item {
    display: flex;
    align-items: center;
}   

.kub-p {
    margin-left: 10px;
}





/* seo-price  */



.seo-price {
    margin-top: 80px;
}

.seo-price__text {
    text-align: center;
}


.seo-price__h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}








/* kontekst  */


.kontekst {
    margin-top: 50px;
}

.kontekst-all {
    display: flex;
    justify-content: center;
   
}


.kontekst-text__p {
    width: 600px;
}




.full-price {
    margin-top: 50px;
}

.full-price__all {
    display: flex;
    justify-content: center;
    text-align: center;
}

.full-price__item {
    border: 1px solid #c0c0c0;
    padding: 30px 30px;
}

.full-price__top {
    width: 250px;
    margin-left: 20px;
}

.full-price__h5 {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 900;
}

.full-price__img {
    margin-top: 30px;
}

.full-price__p {
    margin-top: 30px;
}

.full-price__btn {
    background-color: greenyellow;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: 900;
}



/* three-top */


.three-top__logo {
    width: 200px;
    padding-top: 100px;
}



/* three-top__title */



.three-top__title {
    margin-top: 100px;
}

.three-top__h3 {
    font-size: 25px;
    font-weight: 100;
}

.three-top__all {
    display: flex;
    justify-content: space-between;
}

.three-top__h1 {
    font-size:  50px;
    font-weight: 900;
    margin-top: 10px;
}

.three-top__images {
    width: 450px;
}

.three-top__p {
    margin-top: 20px;
    width: 600px;
}

.back-kvadrat {
    width: 10px;
    height: 10px;
    background-color: #000;
}

.three-top__kvadrat {
    display: flex;
    align-items: center;
}







form {
    
    padding: 20px;
    margin: 20px;
}

.form-group{
    display: block;
    margin: 20px 0;
}

.form-group__number {
    font-size: 13px;
    display: block;
    margin: 10px 0;
    color: #000;
}

.form-group__in {
    width: 300px;
    height: 40px;
    border: 1px solid;
}

.btn {
    width: 130px;
    height: 40px;
    margin-top: 0px;
    background-color: tomato;
    color: #fff;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.form-h1 {
    color: #000;
}

.form-p {
    width: 300px;
    font-size: 13px;
    font-weight: 100px;
    margin: 30px 0;
    color: #000;
}

/* */

.servicesss {
    color: #000;
    padding: 0;
    margin: 0;
}

.ecommecre-header__top {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu-item {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.ecommerce-header__h1 {
    font-size: 150px;
    opacity: .1;
    left: 0;
}

.ecommecs-all__previu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.ecommerce-hr {
    display: flex;
    align-items: center;
}

.hr {
    background-color: #000;
    height: 2px;
    width: 30px;
    margin-right: 10px;
}

.ecommerce-hr__p {
    font-size: 30px;
    font-weight: 100;
}

.ecommerce-btn {
    padding: 10px;
    background-color: red;
    color: #000;
    display: inline-block;
}


.ecommect-content__all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.ecommers-left__h1 {
    font-size: 40px;
    width: 500px;
    font-weight: 700;
    position: relative;
}
.ecommers-right__p {
    line-height: 25px;
    font-weight: 400;
}

.ecommers-left__h1:before {
    content: '"';
    font-size: 90px;
    color: red;
    font-weight: 700;
    position: absolute;
    top: -50px;
    left: -40px;
}

.ecommers-left__h1:after {
    content: '"';
    font-size: 90px;
    color: red;
    position: absolute;
    font-weight: 700;
    top: 70px;
    right: -24px;
}

.ecommerce-bottom {
    margin-top: 80px;
}

.econnerce-bottom__all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.ecommers-right {
    width: 500px;
    font-weight: 100;
    font-size: 15px;
}

.bottom-item__h1 {
    position: relative;
    text-transform: uppercase;
}

.bottom-item__h1:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 9px;
    width: 20px;
    height: 20px;
    background-color: #fc5b14;
    border-radius: 50%;
}

.bottom-item__p {
    width: 300px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    text-align: left;
}

.e-b__t {
    margin-top: 60px;
}

.ecommerce-works {
    margin-top: 50px;
}

.ecommerce-works__hr {
    display: flex;
    align-items: center;
    
}

.ecommerce-works__hr {
    font-size: 30px;
    font-weight: 100;
}

.ecommerce-works__item {
    display: flex;
    justify-content: center;
}

.eci-item {
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: ease .4s;
    cursor: pointer;
}

.eci-item:hover {
    width: 400px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ecommerce-works__price {
    background-color: #453838;
    height: 80px;
}

.section-pre__footer {
    margin-top: 80px;
}

.ecommerc-footer {
    color: #000;
}

/* Pop-up window */

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 10px;
    left: 0; 
    z-index: 999;
    display: none;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%); 
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #000;
    color: #fff
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(45deg);
}


/* partner */

.partner {
    margin-top: 70px;
}


.partner-colum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    text-align: center;
}

.about-me__all {
    display: flex;
    justify-content: space-around;
}

.partner-colum__item {
    width: 130px;
    padding: 20px 0;
}

.siter {
    margin-top: 30px;
    position: relative;
    background: url('../img/faq.jpg ') center no-repeat;
}

.site-all-sectionrightw {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.site-all__h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    width: 300px;
}

.site-all__p {
    width: 300px;
    text-align: justify;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
}


















@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
}
@media screen and (max-width: 575px) {
    .container {
        width: 400px;
        padding: 0 29px;
    }

    .header-menu {
        display: none;
    }
    .img-content__item {
        width: 370px;
        height: 150px;
    }
    .header-content {
        position: relative;
    }
    .text-content__h1 {
        display: none;
    }
    .text-content__p {
        display: none;
    }
    .header-content__btn {
        display: none;
    }
    .site-all-sectionright {
        display: none;
    }
    .site-content__h1 {
        width: 300px;
        font-size: 30px;
    }
    .site-content__p {
        font-size: 13px;
        width: 300px;
    }
    .services-item__all {
        display: inline-block;
    }
    .services-arrow{
    
    }
    .services-item__p{
        font-size: 13px;
    }
    .services-h1 {
        font-size: 20px;
        text-transform: uppercase;
    }
    .one:before {
        content: "01.";
        font-size: 30px;
        font-weight: 100;
    }   
    
    .two:before {
        content: "02.";
        font-size: 30px;
        font-weight: 100;
    }
    
    .three:before {
        content: "03.";
        font-size: 30px;
        font-weight: 100;
    }
    .about{
        display: none;
    }
    .project-item {
        width: 100px;
        height: 50px;
    }
    .project-portfolio {
        display: block;
    }
    .project-porfolio__item {
        height: 200px;
        width: 400px;
    }
    .project-item {
        position: absolute;
        left: 350px;
    }
    .about-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-colum__one {
        margin-top: 30px;
    }
    .about-colum__two {
        margin-top: 30px;
    }
    .about-colum__three {
        margin-top: 30px;
    }
    .del {
        display: none;
    }
    .one-price__h4 {
        font-size: 30px;
    }
   .hr-two {
    margin-left: 20px;
   }
    .one-hr__h3 {
        font-size: 13px;
        width: 130px;
        margin-left: 20px;
    }
    .price-btn {
        width: 80px;
        height: 45px;
        font-size: 10px;
    }
    .site-all-sectionrightw {
        display: block;
    }
    .site-all__item {
        margin-top: 50px;
    }
    .footer {
        width: 100%;
    }
    .siter {
        background: none;
    }
    .footer-tel__link {
        font-size: 10px;
    }
}