body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.header {
    background: url('../img/header-image.png') no-repeat center;
    background-size: 100%;
    height: 800px;
}

.container  {
    margin: 0 auto;
    margin: 0 150px;

    position: relative;
    z-index: 2;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
    color: #393f6b;
}

.menu-item:hover {
    color: darkgrey;
}

.logo-img {
    width: 160px;
    height: 90px;
}

.contact-item {
    text-decoration: none;
    color: #393f6b;
    font-size: 15px;
    background-color: #e5edfc;
    border-radius: 20px;
    padding:  8px 8px;
}

.header-content {
    margin-top: 250px;
}

.header-content__h1 {
    font-size: 30px;
}

.header-content__p {
    width: 550px;
    font-size: 13px;
}

.header-content__p span {
    font-weight: 700;
}

.header-btn {
    color: #fff;
    background-color: #54578e;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 25px;
    margin-top: 20px;
}

.header-btn__two {
    background-color: #e5edfc;
    color: #54578e;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 25px;
}

.services {
    margin-top: 40px;
}

.services-all {
    text-align: center;
}

.services-head {
    text-align: center;
    margin-bottom: 30px;
}

.header-colum {
    background-color: #fff;
    display: inline-block;
    padding: 25px 35px;
    text-align: center;
    margin: 0 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.header-colum__img {
    margin-bottom: 20px;
}

.header-colum__two {
    text-align: left;
}

/* advantages */

.advantages {
    margin-top: 80px;
}

.header-advantages__h1 {
    text-align: center;
}

.content-advantages {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.advantages-item {
    text-align: center;
}

.advantages-item__p {
    width: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.header-works {
    margin-top: 50px;
}

.header-works__h1 {
    text-align: center;
}

.content-works {
    display: flex;
    justify-content: space-around;
}

.content-works__item {
    width: 230px;
    text-align: center;
}

.content-works__h4 {
    margin-top: 20px;
}

.content-works__p {
    font-size: 13px;
}

.content-works__item {
    margin-top: 50px;
}



/* question */



.question {
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
}

.question-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-h3 {
    text-align: center;
}

.question-left__img {
    width: 500px;
    height: 500px;
}

.question-right {
    background-color: #54578E;
    padding: 10px 10px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
}

.mailforms {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    padding: 10px 0;
}

.form-control {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 4px 0;
}

.form-two {
    height: 100px;
}

/* footer */

.footer {
    background-color: #54578E;
    height: 100%;
}

.header-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.header-footer__h4 {
    color: #fff;
    font-weight: 400;
    margin-right: 240px;
}

.header-footer__item {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-content__left {
    background-color: #E5EDFC;
    padding: 5px 10px;
    border-radius: 8px;
}

.header-content__img {
    width: 100px;
    height: 50px;
}

.footer-bottom__p {
    color: #fff;
    text-align: center;
    font-size: 13px;

}

.footer-bottom__pe {
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding-bottom: 30px;
}