body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    margin:  0 auto;
    padding: 0 200px;
}

.header-top {
    display: flex;
    align-items: center;
    position: absolute;
    right: 200px;
    top: 50px;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    font-size: 17px;
}

.header-content__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.header-text {
    position: absolute;
    top: 400px;
    right: 300px;
}

.header-text__h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: 10px;
}

.header-text__p {
    font-weight: 200;
}

.header-btn {
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    transition: ease .5s;
    text-decoration: none;
    color: #fff;
}

.header-btn:hover {
    background-color: #fff;
    color: #000;
}

.header-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}



.header-laws {
    margin: 0 auto;
}

.header-top__section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.content-section2 {
    margin-top: 250px;
}

.content-section2__item {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}

.section2-play {
    position: absolute;
    right: 300px;
    top: 350px;
    opacity: .2;
}

.section2-play__img {
    width: 300px;
    height: 300px;
}

.content-section2__h1 {
    font-weight: 900;
    border-bottom: 1px solid #eec1a6;
    width: 765px;
    margin-top: 30px;
}


.content-section2__h1:hover {
    color: #eec1a6
}


.content-section2__h1:before {
  content: "01";
  font-size: 35px;
  color: #eec1a6;
  opacity: .2;
  margin-right: 20px;
}

.footer-section2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section2__left {
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.footer-section2__right {
    display: flex;
    align-items: center;
    margin-left: 400px;
}

.laws {
    margin-left: 100px;
}

.def {
    margin-left: 100px;;
}

.social-img {
    width: 30px;
    margin-right: 10px;
}

.section2-min {
    font-size: 13px;
    font-weight: 100;
}

.section3-content {
    margin-top: 220px;
    display: flex;
    justify-content: space-around;
}

.section3-item__colon {
    display: flex;
    align-items: center;
    margin-top: 70px;
    text-decoration: none;
    color: #fff;
}

.section3-item__colon:hover {
    color: #eec1a6;
}

.section3-item__img {
    margin-right: 30px;
}

.section3-item__p {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
}

.section3-item__p span {
    color: #eec1a6;
}

.section3-right__h1 {
    font-size: 60px;
    color: #eec1a6;
    font-weight: 900;
}

.section3-right__p {
    width: 400px;
    font-weight: 200;
    font-size: 13px;
    margin-top: 10px;
}

.section4-content {
    margin-top: 100px;
}

.dark {
    position: absolute;
    left: 300px;
    z-index: 2;
}

.section4-left {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 200px;
    height: 100%;
    color: #000;
    z-index: 1;
    padding-left: 100px;
}

.section4-padding {
    margin-top: 300px;
}

.section4-all {
    display: flex;
    align-items: center;
}

.section4-all__h4 {
    font-weight: 900;
}

.all-form{
    width: 500px;
    margin-top: 100px;
}

.form-group {
    margin-top: 30px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #000;
    width: 400px;
}

.btn  {
    padding: 5px;
    background-color: #000;
    color: #fff;
    margin-top: 30px;
}

.section4-right__img {
    position: absolute;
    right: 250px;
    top: 400px;
}













#section1 {
    background: url('../img/fon.png') no-repeat center;
    background-size: cover;
   
}

#section2 {
    background: url('../img/fon2.png') no-repeat center;
    background-size: cover;
}

#section3 {
    background: url('../img/fon3.png') no-repeat center;
    background-size: cover;
}

#section4 {
    background: url('../img/fon4.png') no-repeat center;
    background-size: cover;
    position: relative;
}

