body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 223, 223);
    color: #000;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 150px;
}

.logo {
    z-index: 2;
}

.logo-img {
    width: 150px;
}

.header-content {
    
}

.header-content__img {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.menu {
    border-bottom: 1px solid #4a494a;
    z-index: 2;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 50px;
    position: relative;
}

.menu-item:hover {
    opacity: .5;
}

.menu-item:hover:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    opacity: .4;
    width: 100%;
    border: 2px solid #000;
}

.search-img {
    width: 20px;
    margin: 0 20px;
}

.search-img {
    cursor: pointer;
}

.search-img:hover {
    opacity: .5;
}

.menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    width: 50px;
    height: 100%;
    z-index: 2;
}

.header-content__text {
    color: #000;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 40%;
    -webkit-transform: rotate(-90deg);
    text-transform: uppercase;
}

.header-content__text span {
    border-bottom: 1px solid #000;
}

.header-text__img {
    width: 30px;
    margin: 0 20px;
}

.header-content__texte {
    position: absolute;
    right: 40px;
    top: 60%;
    -webkit-transform: rotate(-90deg);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.header-position {
    position: absolute;
   z-index: 3;
   bottom: 20px;
   display: flex;
   align-items: center;
}

.header-position__h1 {
    color: #fff;
    font-weight: 900;
}

.header-position__p {
    width: 350px;
    color: #fff;
    font-weight: 100;
    opacity: .6;
    font-size: 13px;
}

.header-position__img {
    margin-left: 100px;
}

.header-position__item {
    width: 150px;
    transition: ease .5s;
    opacity: .5;
    margin: 0 3px;
}

.header-position__item:hover {
    opacity: 1;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.header-contente__img {
    position: absolute;
    z-index: 3;
    width: 200px;
    left: 500px;
    top: 300px;
    opacity: .6;
    cursor: pointer;
}