body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f0f4fa;
    min-width: 1170px;
}

* {
    box-sizing: border-box;
}

.container-advantage {
    margin: 0 auto;
    padding: 0 250px;
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.logo-img {
    width: 160px;
    height: 80px;
}

.menu-link {
    text-decoration: none;
    color: #314a51;
    font-weight: 700;
    margin-left: 40px;
}

.menu-link:hover {
    color: #51a2d9
}

.header-content {
    margin-top: 200px;
}

.header-text {
    display: flex;
    justify-content: space-between;
}

.header-text-title {

}

.header-h1 {
    font-weight: 900;
    font-size: 80px;
}

.header-h1 span {
    color: #51a2d9;
}

.hr {
    height: 7px;
    width: 10%;
    background-color: #51a2d9;
    margin-top: 15px;
}

.header-p {
    margin-top: 15px;
    font-weight: 400;
}

.btn {
    background-color: #51a2d9;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    border: none;
    box-shadow: 0 5px 0 #3C93D5;
    transition: .3s;
    text-decoration: none;
}

.btn:hover {
    background: #6FC6FF;
}


.header-images {

    margin-top: -50px;
}

.header-icon {
    display: flex;
    margin-top: 70px;
}

.icon-content__one {
    display: flex;
}

.icon-content__two {
    margin-right: 30px;
    margin-left: 35px;
    display: flex;
}

.icon-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header-p__icon {
    color: #51a2d9;
    font-weight: 400;
}

.tel {
    text-decoration: none;
    color: #314a51;
    font-weight: 700;
    display: flex;
    width: 170px;
}

.tel-img {
    width: 8%;
}

/*   advantage   */

.advantage {
    background-color: #f0f4fa;
}

.advantage-title {
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    padding-top: 40px;
}

.advantage-content {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
}

.advantage-col {
    padding-top: 50px;
}

.advantage-img {
    width: 50px;
    height: 50px;
}

.advantage-h5 {
    color: #000;
    font-size: 18px;
}

.advantage_p {
    color: #000;
    font-size: 13px;
    width: 295px;
}

.advantage-btn__content {
    text-align: center;
}

.advantage-btn {
    margin: 50px 0;
    color: #000;
    font-weight: 300;
    border: 1px solid #000;
    padding: 15px;
    width: 150px;
    background-color: transparent;
}


/*   time-out   */

.benefits {
    width: 100%;
    background: #51a2d9;
    margin-top: 60px;
}
 
.benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 0;
}
 
.benefits__header {
    width: 100%;
    text-align: center;
    line-height: 1.3;
    padding: 0 15px 60px;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}
 
.benefits__element {
    width: 30%;
}
 
.benefits__icon {
    display: block;
    width: 60px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
 
.benefits__element p {
    color: #fff;
    text-align: center;
    line-height: 1.3;
}
 
.benefits__number {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px
}
 
.benefits__title {
    font-size: 13px;
}

/*   services   */

.services {
    background-color: #f0f4fa;
    
}

.services-content {
    
}

.services-title__h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 85px;
}

.services-title__p {
    text-align: center;
    color: #51a2d9;
    font-size: 16px;
    padding-top: 7px;
}

.services-photo {
    margin-top: 70px;
}

.services-photo__content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.services-photo__col {
    background-color: #fff;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
}

.services-photo__col:hover {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}


    /*   etap   */

  









    /*   stages   */

    .stages {
        margin-top: 60px;
        background-color: #fff;
    }

    .stages-text {
        text-align: center;
        padding-top: 50px;
    }

    .stages__h3 {
        text-transform: uppercase;
        font-size: 30px;
    }

    .stages__p {
        color: #51a2d9;
        font-size: 16px;
        padding-top: 7px;
    }

    .stages-content {
        display: flex;
        justify-content: space-around;
        padding: 0 150px;
    }

  .images {
    background: url("../img/stages.jpg")  center no-repeat;
    height: 300px;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }


/*   works   */

.work {
    background-color: #f0f4fa;
}

.works-content {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.img-content__item {
    width: 500px;
    height: 500px;
}
.works-text {
    width: 500px;
    margin-top: 50px;
}

.works-title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 900;
    color: #51a2d9;
}

.works-title__p {
    padding-top: 10px;
    font-size: 13px;
}

.works-title__p span {
    font-weight: 700;
    font-size: 17px;
}


/*   cost   */

.cost {
    background-color: #f0f4fa;
    padding-bottom: 100px;
}

.cost-all {
    padding-top: 60px;
}

.cost-title__h3 {
    font-size: 34px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.cost-content {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}


.cost-content-item {
    background-color: #fff;
    text-align: center;
    padding: 60px;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.cost-title__p {
    font-size: 20px;
    font-weight: 700;
    color: #51a2d9;
    margin-bottom: 40px;
}

.cost-img {
    margin-bottom: 10px;
}

.cost-hidde__p {
    color: #bab7b7;
    font-size: 13px;
    margin-bottom: 40px;
}

.cost-cena__p {
    color: #51a2d9;
    font-weight: 700;
    font-size: 25px;
}

.btn-cost {
    background-color: #51a2d9;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    padding: 10px 40px;
    border: none;
    box-shadow: 0 5px 0 #3C93D5;
    transition: .3s;
    text-decoration: none;
}




/*   who  */

.who {
    background-color: #fff;
}


.who-sum {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.who-title {
    width: 40%;
}

 .who-title__h1 {
     font-size: 40px;
     margin-bottom: 40px;
 }

 .who-title__p {
     
 }

 .btn-who {
    background-color: #f26666;
    color: #fff;
    margin-top: 30px;
    padding: 14px;
    border: none;
    transition: .3s;
    text-decoration: none;
}


/*   comment  */

.comment {
    padding-top: 60px;
}

.comment-title {
    text-align: center;
    font-size: 20px;
}

.comment-content {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.comment-content__item {
    background-color: #fff;
    padding: 50px;
    width: 380px;
}

.comment-content__h3 {
    text-align: center;
}

.comment-img {
    width: 280px;
    height: 200px;
    padding-top: 20px;
}

.comment-adres {

    font-weight: 700;
    font-size: 13px;
    margin-top: 30px;
}

.comment-adres span{
    font-weight: 400;
    font-size: 13px;
}

.comment-usluva {
    font-size: 13px;
    font-weight: 700;
    
}

.comment-usluva span {
    font-size: 13px;
    color: #3e6793;
    font-weight: 400;
}

.comment-p {
    margin-top: 40px;
    font-size: 14px;
}



/*   footer  */

.footer {
    background-color: #51a2d9;
    margin-top: 70px;
    color: #fff;
}

.pol-konf {
    color: #fff;
    font-size: 13px;
}

.konf {
    font-size: 13px;
}

.pol-konf__a {    
    font-weight: 700;
}

/* media  */

@media   {
    .header-images {
        width: 500px;
        height: 300px;
    }
    .menu {
        display: none;
    }
}

