body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}



/* header-top */



.header {
    margin-top: 20px;
}


.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-item {
    width: 140px;
    height: 60px;
}

.header-menu__item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px;
}

.header-menu__item:hover {
    color: orangered;
}

.tel {
    text-align: center;
}

.tel:hover {
    color: orangered;
}

.tel-item__link {
    font-weight: 700;
}

.tel-item {
    font-size: 10px;
}


/* header-content */


.header-content {
    margin-top: 20px;
    position: relative;
}

.img-content {
    text-align: center;
}

.img-content__item {
    width: 1100px;
    height: 400px;
}

.text-content {
    position: absolute;
    top: 90px;
    left: 310px;
}

.text-content__h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

.text-content__p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.header-content__btn {
    margin-top: 50px;
}

.text-content__button {
    background-color: orangered;
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.text-content__button:hover {
    background-color:  darkslategray;
}

.text-content__buttone {
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.text-content__buttone:hover {
    background-color: orangered;
    color: #fff;
}


/* site */


.site {
    margin-top: 120px;
    position: relative;
    background: url('../img/header-content.jpg') center no-repeat;
}

.site-section__all {
    display: flex;
    align-items: center;
}

.all-site__hr {
    display: flex;
    align-items: center;
}

.hr {
    width: 50px;
    height: 10px;
    background-color: #000;
}

.site-title {
    margin-left: 20px;
}

.site-title__h3 {
    font-size: 13px;
}

.site-content {
    margin-top: 40px;
}

.site-content__h1 {
    font-size: 45px;
    text-transform: uppercase;
    width: 700px;
}

.site-content__p {
    width: 700px;
    color: darkslategray;
    margin-top: 30px;
}

.site-all-sectionright {
    margin-left: 100px;
}

.sectionright {
    border: 1px solid orangered;
    align-items: center;
    color: #fff;
    background-color: orangered;
    padding: 13px 20px;
    transition: all 0.2s ease;
}

.sectionright:hover {
    color: #fff;
    background-color: darkslategray;

}

.site-item {
    width: 50px;
    height: 50px;
}

.site-item__p {
    margin-left: 20px;
    font-weight: 700;
}


/* services */


.services {
    margin-top: 80px;
}

.services-item__all {
    display: flex;
    justify-content: space-around;
}

.services-item {
    width: 250px;
    transition: all 0.2s ease;
}

.services-item:hover {
    color: orangered;
}

.one:before {
    content: "01.";
    font-size: 30px;
    font-weight: 100;
}

.two:before {
    content: "02.";
    font-size: 30px;
    font-weight: 100;
}

.three:before {
    content: "03.";
    font-size: 30px;
    font-weight: 100;
}

.services-arrow {
    width: 50px;
    height: 40px;
    transition: all 0.2s ease;
}

.services-item:hover img{
    width: 90px;
}



/* services */

.project {
    margin-top: 80px;
}


.project-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-item {
    width: 200px;
    height: 100px;
}

.project-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}

.project-porfolio__item {
    width: 400px;
    
}

.colum-project {
    position: relative;
    transition: all 0.2s ease;

}

.colum-project:after {
    content: ' ';
	background-color: #000;
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
	width: 100%;
}

.colum-project:hover {
    opacity: .7;
}

.project-portfolio__h2 {
    position: absolute;
    top: 150px;
    left: 120px;
    color: #fff;
    z-index: 2;
}




/* about */



.about {
    margin-top: 80px;
}

.about-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.about-colum__one {
    width: 350px;
}

.about-colum__one:before {
    content: "01.";
    font-size: 30px;
    font-weight: 200;
}

.about-colum__two {
    width: 350px;
}

.about-colum__two:before {
    content: "02.";
    font-size: 30px;
    font-weight: 200;
}

.about-colum__three {
    width: 350px;
}

.about-colum__three:before {
    content: "03.";
    font-size: 30px;
    font-weight: 200;
}

.about-content__h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.about-content__p {
    margin-top: 10px;
    color: dimgray;
    font-size: 13px;
}



/* price*/



.price {
    margin-top: 80px;
}

.colum-price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}

.colum-price:hover {
    background-color: gainsboro;
}

.price-btn:hover {
    background-color: indigo;
    color: #fff;
}

.hr-two {
    height: 2px;
    width: 50px;
    background-color: #000;
}

.one-price__h4 {
    font-size: 50px;
    color: darkgray;
}

.one-hr__h3 {
    margin-top: 5px;
}

.price-btn {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px 20px;
}


/* footer-all  */

.footer {
    height: 80px; 
    background-color: #000;
}

.footer-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 150px;
}


.footer-menu__item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px;
    color: #fff;
}

.footer-menu__item:hover {
    color: orangered;
}